nav {
  background-color: black;
}

.header-ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  padding: 10px;
}

.header-ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

li a.active {
  color: hotpink;
}

.delete {
  background-color: red;
}
